.padding {
    align-items: center;
    justify-items: center;
}

.btn-container{
    margin: 5px;
}

.btns-container {
    display: flex;
    justify-content: center; /* center items horizontally */
    align-items: center;     /* center items vertically (if needed) */
    flex-wrap: wrap;         /* allow items to wrap to next line */
    gap: 10px;               /* optional: space between buttons */
}
